@import "tailwindcss";

@layer base {
    body {
        @apply bg-white text-black antialiased overflow-hidden;
        font-family: 'Inter', sans-serif;
    }
}

/* Force full height of HTML to avoid scrolling during 3D phase */
html,
body,
#root {
    height: 100%;
}

/* Custom transitions and scrollbar */
::selection {
    background-color: rgba(0, 33, 71, 0.1);
    /* Navy highlight */
    color: #002147;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 33, 71, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 33, 71, 0.4);
}